<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/estilos.css" />
  </head>

  <body>
    <div class="page-error">
      <div class="alert alert-info appear">
        <h1 class="title">INFO</h1>
        <ul>
          <li>
            <p>Argumentos de entrada: <%= inputArguments %></p>
          </li>
          <li>
            <p>Nombre de la plataforma (sistema operativo): <%= platformName %></p>
          </li>
          <li>
            <p>Versión de node.js: <%= versionNode %></p>
          </li>
          <li>
            <p>Memoria total reservada (rss): <%= rss %></p>
          </li>
          <li>
            <p>Path de ejecución: <%= path %></p>
          </li>
          <li>
            <p>Process id: <%= processId %></p>
          </li>
          <li>
            <p>Carpeta del proyecto: <%= projectFolder %></p>
          </li>
          <li>
            <p>Número de procesadores: <%= numOfProcessors %></p>
          </li>
        </ul>
        <a href="/" class="btn btn-warning">VOLVER</a>
      </div>
    </div>
  </body>
</html>
